.App {
  border: 6px solid #bbe4e9;
  width: 800px;
  margin: 30px auto;
  /*background-color: green;*/
  background: radial-gradient(
    328px at 2.9% 15%,
    rgb(191, 224, 251) 0%,
    rgb(232, 233, 251) 25.8%,
    rgb(252, 239, 250) 50.8%,
    rgb(234, 251, 251) 77.6%,
    rgb(240, 251, 244) 100.7%
  );
  border-radius: 4px;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  color: #385170;
}

.App .container {
  margin: 30px 30px;
  padding: 10px 10px;
  padding-bottom: 0;
}

.App h1 {
  font-size: 36px;
  text-align: center;
  text-transform: uppercase;
}

.App footer {
  font-size: 14px;
  text-align: center;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 30px;
}

.App footer a {
  text-decoration: none;
  color: #385170;
}
