.Dictionary form {
  padding: 10px 20px;
  text-align: center;
  margin: 20px 20px;
  margin-bottom: 0;
}

/*targeting the input button */
.Dictionary .inputButton {
  color: red;
  font-size: 18px;
  padding: 7px 15px;
  background: plum;
  border: 2px solid red;
  border-radius: 2px;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
}

.Dictionary .inputButton:hover {
  background: red;
  color: plum;
  border: plum;
}

.Dictionary .inputSearch {
  width: 75%;
  padding: 10px;
  font-size: 18px;
  border: 2px solid red;
  border-radius: 4px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}

.Dictionary .inputSpan {
  margin: 30px;
  padding: 0;
  margin-bottom: 0;
}

.Dictionary .suggestions {
  margin-top: 0;
  padding-left: 85px;
  text-align: left;
  margin-bottom: 10px;
}
