.DisplayDefinitionResults {
  padding: 10px;
}

.DisplayDefinitionResults .topSection {
  text-align: center;
}

.DisplayDefinitionResults .wordDisplayed {
  font-size: 28px;
}

.DisplayDefinitionResults .phoneticDisplayed {
  font-size: 22px;
  line-height: 2;
  font-style: italic;
}

.DisplayDefinitionResults section {
  /*border: 2px solid black;*/
  padding: 5px;
  border-radius: 4px;
  /*background-color: palegreen;*/
}

.DisplayDefinitionResults .holdingMeanings {
  padding: 10px;
}
